@media only screen and (max-width: 1300px) {
    .all-nav {
        padding: 30px 60px;
    }
    .nav-ul {
        margin-right: 100px;
        gap: 25px;
    }
    .container {
        max-width: 1100px;
    }
    .proggres {
        width: 514px;
    }
    .info-numDiv {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 1100px) {
    .open-icon {
        display: block;
    }
    .nav-link {
        display: none;
    }
    .all-nav {
        padding: 30px 15px;
    }
    .container {
        max-width: 900px;
    }
    .main-h1 {
        width: 600px;
        font-size: 54px;
        line-height: 70px;
    }
    .time-discount {
        width: 75px;
        height: 80px;
    }
    .time-discount h4 {
        font-size: 30px;
        line-height: normal;
    }
    .proggres {
        width: 314px;
    }
}
@media only screen and (max-width: 900px) {
    .main-bottom {
        bottom: -15%;
        padding: 10px 0;
    }
    .main-bottom .container {
        flex-wrap: wrap;
    }
    .info-numDiv {
        padding: 0 0 0 20px;
    }
    .proggresDiv {
        width: 100%;
        margin-top: 20px;
    }
    .proggres {
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .main-h1 {
        width: 100%;
        line-height: 60px;
    }
}
@media only screen and (max-width: 500px) {
    .all-nav {
        padding: 15px;
        min-width: 100%;     
    }
    .main-h1 {
        font-size: 42px;
        line-height: 50px;
    }
    .time-flex {
        gap: 15px;
    }
    .main-bottom {
        bottom: -20%;
    }
    .main-bottom .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .info-numDiv {
        padding: 0;
        width: 100%;
    }
    .info-p {
        width: 100%;
    }
}