@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-bg2 {
    height: 100vh;
    background: url('pictures/main2-screen-bg.jpg');
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-bg3 {
    height: 100vh;
    background: url('pictures/pc-gaming-lenovo-computer-hardware-wallpaper-38864d487050bce800ece17e6872a4ca.jpg');
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
}