@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-bg2 {
    height: 100vh;
    background: url('pictures/main2-screen-bg.jpg');
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-bg3 {
    height: 100vh;
    background: url('pictures/https___hybrismediaprod.blob.core.windows.net_sys-master-phoenix-images-container_hcf_ha8_9090918416414_razer-tomahawk-m1-1500x1000_0.jpg');
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}